html,
body {
  background-color: #dfdbe5;
  margin: 0;
  background-size: contain;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  list-style-type: none;
}
