html,
body {
  background-color: #dfdbe5;
  margin: 0;
  background-size: contain;
  width: 100%;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* a:hover {
  color: inherit;
} */

.active-link {
  text-decoration: underline solid 5px #ff8000;
}

a:hover {
  text-decoration: underline #ffa64d;
}
