html,
body {
  background-color: #dfdbe5;
  margin: 0;
  background-size: contain;
  width: 100%;
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-size: 1.2rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}
